@font-face {
  font-family: "AlegreyaSansSC-Bold";
  src: url("../fonts/AlegreyaSansSC-Bold.ttf"); }

@font-face {
  font-family: "AlegreyaSansSC-Regular";
  src: url("../fonts/AlegreyaSansSC-Regular.ttf"); }

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.ttf"); }

@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/PlayfairDisplayBold.ttf"); }

@font-face {
  font-family: "scriptina";
  src: url("../fonts/scriptina.ttf"); }

body {
  font-size: 16px;
  min-width: 280px;
  position: relative;
  line-height: 1.6;
  font-family: "AlegreyaSansSC-Regular", sans-serif;
  overflow-x: hidden; }

.container, .row {
  padding: 0;
  margin: 0 auto; }

header {
  min-height: 940px;
  background: url("../img/main_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 7px; }
  header .main_logo {
    margin-top: -15px; }
    header .main_logo a {
      font-size: 46px;
      font-family: "scriptina";
      color: #fff; }
  header a:hover {
    color: #3b3934;
    text-decoration: none; }
  header .list-inline {
    opacity: 1.00;
    margin-left: 20px; }
    header .list-inline li {
      margin-top: 25px; }
    header .list-inline a {
      color: #fff;
      font-family: "AlegreyaSansSC-Regular";
      font-size: 15px;
      text-transform: uppercase;
      padding: 0 60px 0 9px; }
    header .list-inline a:hover {
      color: #3b3934;
      text-decoration: none; }
    header .list-inline .link_1 {
      background: url(../img/arrow.png) no-repeat 112px 8px; }
    header .list-inline .link_2 {
      background: url(../img/arrow.png) no-repeat 85px 8px; }
    header .list-inline .link_3 {
      background: url(../img/arrow.png) no-repeat 139px 8px; }
    header .list-inline .link_4 {
      background: url(../img/arrow.png) no-repeat 91px 8px; }
  header .header_social ul li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
    margin-top: 15px; }
    header .header_social ul li a {
      color: #fff; }
  header .header_social .twitter:hover {
    color: #a5eaf6;
    text-decoration: none; }
  header .header_social .facebook:hover {
    color: #3656f6;
    text-decoration: none; }
  header .header_social .camera:hover {
    color: #d08106; }
  header h1 {
    font-family: "PlayfairDisplayBold";
    font-size: 92px;
    margin-top: 210px;
    color: #fff; }
  header .h_bg > img {
    display: block;
    margin: 87px auto -43px; }
  header h5 {
    font-size: 24px;
    font-family: "ProximaNovaRegular";
    color: #fff;
    margin-top: 120px; }
  header .btn {
    display: block;
    margin: 70px auto; }
    header .btn button {
      display: block;
      margin: 0 auto;
      background: #56534c;
      opacity: .53;
      width: 200px;
      height: 60px;
      color: #fff;
      font-size: 19px; }

.art {
  height: 655px;
  background: url(../img/art_bg.jpg); }
  .art #bread {
    left: 88%;
    position: absolute;
    top: -56px; }
  .art .fix {
    background-color: #f3f1e9; }
  .art h3 {
    font-family: "ProximaNovaRegular";
    font-size: 48px;
    color: #56534c;
    margin-top: 90px; }
  .art h6 {
    font-family: "ProximaNovaRegular";
    font-size: 18px;
    color: #a47d5e;
    margin-top: 20px;
    margin-bottom: 70px; }
  .art p {
    color: #56534c;
    font-size: 14px;
    font-family: "ProximaNovaRegular"; }
  .art #art-p {
    margin-top: -30px; }
  .art #chef {
    font-family: "ProximaNovaRegular";
    color: #56534c;
    font-size: 24px; }
  .art #benito img {
    bottom: -150px;
    left: 227px;
    position: absolute; }
  .art #text-lef {
    left: 100px; }
  .art #text-right {
    right: 90px; }
  .art #text-right, .art #text-lef {
    position: absolute;
    bottom: -117px;
    font-family: "ProximaNovaRegular";
    color: #56534c;
    font-size: 24px;
    border-bottom: 1px solid #d7d5ca;
    border-top: 1px solid #d7d5ca;
    padding: 10px 20px; }
  .art #unique {
    font-family: "scriptina";
    color: #a47d5e;
    font-size: 24px;
    position: absolute;
    bottom: -265px;
    left: 175px; }
  .art #commas1 {
    position: absolute;
    bottom: -185px;
    left: 85px; }
  .art #commas2 {
    position: absolute;
    bottom: -270px;
    left: 449px; }
  .art .wrap_left {
    float: left;
    margin-left: 70px; }
  .art .wrap_right {
    float: right;
    margin-right: 30px; }
  .art .galery {
    min-height: 700px;
    margin-top: 125px; }
  .art .wrap_img_top, .art .wrap_img_bottom {
    min-height: 225px; }
  .art .wrap_left, .art .wrap_right {
    min-height: 210px;
    width: 200px; }
  .art .tastes {
    position: absolute;
    top: 82px;
    right: 130px; }

.menu {
  height: 760px;
  background: url(../img/second-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  .menu .content-wrap {
    width: 570px;
    height: 515px;
    position: absolute;
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    width: 111%; }
  .menu .col-md-9 {
    min-height: 520px; }
  .menu .pancake_picture {
    background: transparent;
    width: em(420px);
    height: 515px;
    float: left;
    position: relative; }
  .menu .img_mnu {
    position: absolute;
    top: 230px;
    right: 0;
    z-index: 10; }
  .menu .content {
    font-family: "ProximaNovaRegular";
    background-color: #fff;
    float: right;
    width: 557px; }
    .menu .content h4 {
      font-size: 48px;
      color: #56534c;
      margin-top: 65px;
      margin-left: 60px; }
    .menu .content h6 {
      font-size: 14px;
      color: #a47d5e;
      margin-left: 60px;
      text-transform: uppercase; }
    .menu .content p {
      font-size: 14px;
      color: #56534c;
      margin: 80px 60px 100px 60px;
      text-align: justify; }
  .menu .div-bgi {
    background: url("../img/windmill_bg.png") no-repeat 265px 145px; }
  .menu .carousel-inner {
    height: 122px; }
    .menu .carousel-inner img {
      float: left;
      margin: 11px -40px 15px 96px; }
  .menu .carousel-indicators {
    bottom: -13px; }
    .menu .carousel-indicators li {
      border: 1px solid #9c9c9c; }
    .menu .carousel-indicators .active {
      background-color: #9c9c9c; }
  .menu .glyphicon.glyphicon-chevron-left {
    margin-left: -7px; }
  .menu .glyphicon.glyphicon-chevron-right {
    margin-right: -7px; }
  .menu .carousel-control.left, .menu .carousel-control.right {
    background-image: none; }
  .menu .ready {
    position: absolute;
    right: -139px;
    top: -58px; }
  .menu .hodden_div {
    display: none; }

.breakfast {
  min-height: 750px;
  background: url("../img/breakfast_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "ProximaNovaRegular"; }
  .breakfast .br-content {
    color: #fff;
    font-family: "ProximaNovaRegular"; }
  .breakfast h3 {
    font-size: 60px;
    margin-top: 115px; }
  .breakfast .open {
    color: #a47d5e;
    font-size: 18px;
    margin-top: -10px; }
  .breakfast h4 {
    font-size: 30px;
    margin-top: 45px; }
  .breakfast .m_c, .breakfast .tempus, .breakfast .fusce {
    color: #8c877c;
    font-size: 16px;
    margin-top: -7px; }
  .breakfast .price {
    color: #a47d5e;
    font-size: 30px;
    margin-top: 10px;
    font-family: "AlegreyaSansSC-Regular"; }
  .breakfast h5 {
    font-size: 30px;
    margin-top: 25px; }
  .breakfast .tempus, .breakfast .fusce {
    font-size: 16px;
    color: #8c877c;
    margin-top: -10px; }
  .breakfast .col-lg-6 {
    min-height: 500px; }
  .breakfast .flair {
    width: 470px;
    height: 600px;
    background: url("../img/breakfast_menu.png") no-repeat;
    position: absolute;
    font-family: "ProximaNovaRegular";
    color: #56534c;
    margin-top: 90px;
    margin-right: 140px; }
    .breakfast .flair img {
      margin: 0 auto;
      display: block; }
    .breakfast .flair .text-left, .breakfast .flair .text-right {
      font-size: 15px;
      display: inline-block;
      color: #56534c;
      font-family: "AlegreyaSansSC-Bold"; }
    .breakfast .flair .text-left {
      margin: 52px 0 0 100px; }
    .breakfast .flair .text-right {
      margin: 50px 0 0 210px; }
    .breakfast .flair h2 {
      font-family: "AlegreyaSansSC-Bold";
      font-size: 44px;
      margin-top: 80px; }
    .breakfast .flair .text {
      font-size: 14px;
      margin-top: 40px; }
    .breakfast .flair a {
      background: transparent none repeat scroll 0 0;
      color: #a47d5e;
      display: block;
      height: 50px;
      margin-left: 30%;
      margin-top: 50px;
      padding-top: 14px;
      text-transform: uppercase;
      width: 180px; }
      .breakfast .flair a:hover {
        border: 1px solid #a47d5e; }

.sandwich {
  background-color: #f3f1e9; }
  .sandwich .sandwich-title {
    display: block;
    margin: 0 auto;
    width: 40%;
    background: url(../img/windmill.png) no-repeat 157px 0;
    margin: -15px auto 0;
    height: 120px; }
    .sandwich .sandwich-title h2 {
      font-size: 48px;
      font-family: "AlegreyaSansSC-Bold";
      color: #56534c;
      padding-top: 95px; }
    .sandwich .sandwich-title h5 {
      font-size: 14px;
      font-family: "ProximaNovaRegular";
      color: #a47d5e;
      text-transform: uppercase; }
  .sandwich .section-column {
    width: 29%;
    padding-top: 45px;
    height: 850px; }
    .sandwich .section-column img {
      display: block;
      margin: 0 auto; }
    .sandwich .section-column h3 {
      font-family: "AlegreyaSansSC-Bold";
      font-size: 30px;
      color: #a47d5e; }
    .sandwich .section-column p {
      font-size: 14px;
      font-family: "ProximaNovaRegular";
      color: #56534c; }
  .sandwich .recipe-wrap {
    width: 841px;
    height: 565px;
    background: url(../img/sandwich-img.png) no-repeat;
    position: absolute;
    right: -35px;
    top: 136px; }
    .sandwich .recipe-wrap a {
      width: 170px;
      height: 60px;
      background: #fff;
      border: 1px dashed #dfc691;
      position: absolute;
      left: 0;
      bottom: 0;
      color: #dfc691;
      padding-top: 18px; }
      .sandwich .recipe-wrap a:hover {
        border: 1px dashed #dfc691;
        background: #f3f1e9; }
    .sandwich .recipe-wrap h5 {
      font-size: 18px;
      font-family: "AlegreyaSansSC-Bold";
      color: #a47d5e;
      padding-top: 18px; }
    .sandwich .recipe-wrap .number {
      font-size: 60px;
      color: #56534c; }
    .sandwich .recipe-wrap #number {
      color: #a47d5e; }
    .sandwich .recipe-wrap .mins {
      font-size: 18px;
      color: #56534c;
      font-family: "ProximaNovaRegular";
      margin-top: -10px; }
  .sandwich .prep, .sandwich .cook, .sandwich .ready {
    width: 205px;
    background-color: #fff;
    height: 190px;
    opacity: .8;
    position: absolute; }
  .sandwich .prep {
    right: 6px;
    top: 0;
    margin-top: -15px; }
  .sandwich .cook {
    top: 177px;
    right: 6px; }
  .sandwich .ready {
    top: 369px;
    right: 6px;
    background: url(../img/small-bg.png) no-repeat;
    opacity: 1;
    height: 200px; }

footer {
  min-height: 100px;
  background-color: #f3f1e9; }
  footer li {
    list-style-type: none;
    display: inline-block;
    padding-top: 7px; }
  footer a {
    color: #56534c;
    font-family: "AlegreyaSansSC-Regular";
    font-size: 15px; }
    footer a:hover {
      text-decoration: none;
      color: #a47d5e; }
  footer .menu-left {
    float: left;
    border-bottom: 1px solid #56534c;
    border-top: 1px solid #56534c;
    height: 40px;
    width: 40%; }
    footer .menu-left li {
      padding-right: 16px; }
      footer .menu-left li .link1 {
        background: url(../img/arrow2.png) no-repeat 103px 8px; }
      footer .menu-left li .link2 {
        background: url(../img/arrow2.png) no-repeat 90px 8px; }
    footer .menu-left a {
      margin-left: -2px;
      padding-right: 68px;
      text-transform: uppercase; }
  footer .menu-right {
    float: right;
    margin-top: -48px;
    border-bottom: 1px solid #56534c;
    border-top: 1px solid #56534c;
    height: 40px;
    width: 40%; }
    footer .menu-right li {
      padding-left: 1px; }
      footer .menu-right li .link3 {
        background: url(../img/arrow2.png) no-repeat 0 8px; }
      footer .menu-right li .link4 {
        background: url(../img/arrow2.png) no-repeat 0 8px; }
    footer .menu-right a {
      padding-left: 40px;
      margin-right: 45px;
      text-transform: uppercase; }
  footer .footer-logo {
    display: block;
    margin: -17px auto 11px;
    width: 8%; }
    footer .footer-logo a {
      font-size: 34px;
      font-family: "scriptina"; }

#modal .modal-content {
  background: #f3f1e9;
  font-family: "ProximaNovaRegular";
  font-size: 14px;
  color: #56534c;
  padding: 20px; }

#lire .modal-header {
  background: #f3f1e9;
  font-family: "ProximaNovaRegular";
  font-size: 14px;
  color: #56534c;
  padding: 20px; }

#lire .modal-body {
  background: #f3f1e9;
  font-family: "ProximaNovaRegular";
  font-size: 14px;
  color: #56534c; }
