
@font-face {
	font-family: "AlegreyaSansSC-Bold";
	src: url("../fonts/AlegreyaSansSC-Bold.ttf");
}

@font-face {
	font-family: "AlegreyaSansSC-Regular";
	src: url("../fonts/AlegreyaSansSC-Regular.ttf");
}

@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular.ttf");
}

@font-face {
      font-family: "PlayfairDisplayBold";
      src: url("../fonts/PlayfairDisplayBold.ttf");
}

@font-face {
      font-family: "scriptina";
      src: url("../fonts/scriptina.ttf");
}

